body {
  background-image: url(http://uploads.striking.ly/page/images/backgrounds/bg5.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  font-family: 'Open Sans','helvetica',arial,sans-serif;
  font-weight: 300;
  color: #62686f;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 300;
}

.container {
  width: 960px;
  margin: 0 auto;

}

.main-header {
  background-image: url(../img/banner.jpg);
  text-align: center;

  margin-top: 150px;
  /*margin-bottom: 0px;*/
  padding: 1px;
}


/*.main-header h1 {
  font-weight: 300;
  font-size: 50px;
  font-family: 'Open Sans','helvetica',arial,sans-serif;
  text-shadow: 0 1px rgba(0,0,0,0.3);
}*/

.main-header__avatar {
  display: block;
  margin: 0 auto;
  margin-top: -70px;
  margin-bottom: -20px;
  border: 3px solid white;
  /* width: 55%; */
  border-radius: 999px;
  box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
}

.main-nav {
  background-color: #333;
}

.main-nav ul li {
  margin: 15px 10px;
}

.main-nav {
  text-align: center;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0; 
}

.main-nav li {
  display: inline-block;
  /*display: inline;*/
}

.main-nav ul li a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav ul li a:hover {
  text-decoration: underline;
}

.info-section {
  /*padding: 1px;*/
  padding: 30px 60px;
  background-color: #fff;
  text-align: center;
}

.info-section__description {
  font-style: italic;
}

.info-section header h2 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.headunderline:after {
  content: "";
  display: block;
  border-bottom: 3px solid black;
  width: 80px;
  margin: 16px auto 20px auto;
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

.info-section ul {
  list-style: none;
  padding: 0;
  /*margin: 0; */
}

.whatido__skill-list {
  overflow: hidden;
  margin-top: 60px;
}

.whatido__skill-list .whatido__skill {
  float: left;
}

/*.whatido__skill h3 {
  text-align: center;
}*/

/*.info-section li {
  display: inline-block;
}*/

.whatido__skill--code {
  width: 30%;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url(../img/skill-code.png);
  padding-top: 100px;
  /*padding-bottom: 40px;*/
}

.whatido__skill--design {
  width: 40%;
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 100px;
  background-image: url(../img/skill-design.png);
}

.whatido__skill--product {
  width: 30%;
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 100px;
  background-image: url(../img/skill-product.png);
}



/*education-experience*/

.education-experience ul {
  list-style: none;
  padding: 0;
  margin: 0; 
}

.education-experience p {
  text-align: left;
}

.education-experience li {
  display: inline-block;
  /*display: inline;*/
  margin-bottom: 50px;
}

.education-experience img {
  width: 180px;
  float: left;
}

.education-experience__list__description {
  overflow: hidden;
  margin-left: 250px;
}


/*photos*/

.photos {
  box-sizing: border-box;
  /*padding: 1px;*/
  padding-right: 0px;
  padding-left: 0px;
}

.photos img {
  padding: 10px; 
  width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.photos ul {
  list-style: none;
  padding: 0;
  margin: 0; 
}

.photos li {
  width: 24.6%;
  display: inline-block;
}




